/* Import "Cabin Sketch"; weight: 700 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.web-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.left-display {
  position: relative;
  flex-grow: 1;

  background-image: url(3d-printer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.left-display__logotype-container {
  width: 100%;
  padding: 1rem 0;
  margin-top: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: hsla(0 0% 0% / 0.85);
}

.left-display__join {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  font-size: calc(1rem + 0.5vw);
  color: #efefef;
}

.left-display__logotype {
  font-family: "Cabin Sketch", ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  font-size: calc(3rem + 0.5vw);
  color: white;
}

.right-side {
  width: clamp(60ch, 70vw, 160ch);
}

.left-display__image-copyright {
  width: 100%;
  position: absolute;
  bottom: 1rem;

  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  text-align: center;
  color: white;
}

.left-display__credits {
  color: white;
}

.right-side {
  background-color: #f0f0f0;
}