/* Import "Cabin Sketch"; weight: 700 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.web-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.left-display {
  background-image: url(3d-printer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.left-display__logotype-container {
  width: 100%;
  padding: 10px 0;

  background-color: hwb(93 0% 100% / 0.70);
}