/* Import "Cabin Sketch"; weight: 700 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.web-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.left-display {
  position: relative;
}

.left-display__bg-image {
  width: 100%;
  height: 100%;

  position: absolute;

  background-image: url(3d-printer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}